---
name: home
url: /
controller: HomeCtrl as vm
---

<div class="grid-container">
  <h1>Welcome to Fruits HQ!</h1>
  <p class="lead">You are now logged in.</p>

  <a ui-sref="login">Logout</a>
</div>
