---
name: login
url: /login
controller: LoginCtrl as vm
---

<div class="grid-container">

	<form name="form" ng-submit="form.$valid && vm.login()" novalidate>
		<div class="grid-block align-center">
			<div class="medium-6">
				<div class="small-12 grid-content">
					<h2>Login</h2>
				</div>

				<div class="small-12 grid-content" ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
					<label for="username">Username</label>
					<input type="text" name="username" class="form-control" ng-model="vm.username" required />
					<div ng-messages="form.$submitted && form.username.$error" class="help-block">
						<div ng-message="required">Username is required</div>
					</div>
				</div>
				<div class="small-12 grid-content" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
					<label for="password">Password</label>
					<input type="password" name="password" class="form-control" ng-model="vm.password" required />
					<div ng-messages="form.$submitted && form.password.$error" class="help-block">
						<div ng-message="required">Password is required</div>
					</div>
				</div>

				
				<div class="grid-content">
					<div class="grid-block align-right">
						<button ng-disabled="vm.loading" class="button success button-round">Login</button>
					</div>
				</div>

				<div ng-if="vm.error" class="small-12 grid-content">
					{{vm.error}}
				</div>
			</div>
		</div>
	</form>

</div>
